.home{
 background-image:url("../assets/backgrounds/h_img.jpg");
background-size: cover;
background-size: 100%;
background-repeat: no-repeat;
height: 100vh;
}
.logo{
    text-align: center;
    color: whitesmoke;
    padding-top: 15%;
}
.mouse{
    padding-top: 50%;
}
P {
    font-size: 8px;
}
.img {
    text-align: center;
    padding-top: 15%;
}
.part_2{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}
P {
    text-align: center;

}
#work1, #work2, #work3, #work4, #work5, #work6, #work7, #work8 { 
    opacity: 1; 
}     
#work1:hover { 
    opacity: 0.5; 
}
#work2:hover { 
    opacity: 0.5; 
}
#work3:hover { 
    opacity: 0.5; 
}
#work4:hover { 
    opacity: 0.5; 
}
#work5:hover { 
    opacity: 0.5; 
}
#work6:hover { 
    opacity: 0.5; 
}
#work7:hover { 
    opacity: 0.5; 
}
#work8:hover { 
    opacity: 0.5; 
}
.part_3{
    background-image:url("..//assets/backgrounds/s_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top:10%;
    padding-bottom: 10%; 
}
.text{
    text-align: center;
    color:  whitesmoke;
   font-size: 5%;
    padding-top:5%;
    padding-bottom: 5%;
}
.part_4{
    text-align: center;
    padding-top:10%;
    padding-bottom: 10%; 
}
.portfolio {
    text-align: center;
}

.col-md-3 img {
   width: 210px;
 }
 .row {
     margin-top: 30px;
 }
.cimage  {
     background-image: url("../assets/backgrounds/c_image.jpg");
     background-size: cover;
     text-align: center;
     color: whitesmoke;
     padding-top: 10%;
     padding-bottom: 10%;
 }
 .content{
     text-align: center;
     padding-top: 10%;
     padding-bottom: 10%;
 }
 .socialicons{
     text-align: center;
     padding-top: 5%;
 }
 .footer{
     padding-top: 2%;
 }
 p {
     font-size: 15px;
 }
 h1 {
     font-size: 60px
 }
 h2 {
     font-size: 30px;
 }
 #p1{
     display: none;
 }
 #p2{
     display: none;
 }
 #p3{
     display: none;
 }
 #f1, #f2, #f3, #f4, #f5, #f6, #f7,#f8{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
 